<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <%- include('blocks/header') -%>
    <div class="txt">
    <h1>Страница про нас</h1>
    <p>Мой Сайт — это инновационная платформа, созданная с целью предоставления качественного контента и удобных сервисов для пользователей всех уровней. Мы стремимся создать пространство, где каждый может найти что-то полезное, будь то информация, развлечение или обучающие материалы.</p>
    </div>
</body>
</html>