<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            color: #fff;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }
        </style>
</head>
<body>
    <h1>404</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error recusandae, ratione ullam numquam fugit perspiciatis quibusdam illo velit ut earum suscipit nulla tempore officia quod optio voluptates accusantium, labore sit.</p>
    <a href="/">Про нас</a>
</body>
</html>